/*
** reset default config
*/

*{
    margin: 0;
    padding: 0;

}

*, *::before, *::after {
    box-sizing: border-box;
}

/*
** Prepare constant
*/

:root {
    /* colors */
        --color_VeryDarkBlue: hsl(243, 87%, 12%);
        --color_DesaturatedBlue: hsl(238, 22%, 44%);
        --color_BrightBlue: hsl(224, 93%, 58%);
        --color_ModerateCyan: hsl(170, 45%, 43%);
        --color_LightGrayishBlue: hsl(240, 75%, 98%);
        --color_LightGray: hsl(0, 0%, 75%);
}

/*
** Import font
*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


/*
** Global config
*/

.oneSecureLocation{
    background-color: white;
}

.stayProductive{
    background-color: var(--color_LightGrayishBlue);
}

.comment{
    background-color: white;
}

.earlyAccess{
    background-color: var(--color_DesaturatedBlue);
}

footer{
    background-color: var(--color_VeryDarkBlue);
}

.fa-brands{
    color: white;
}